.DS_Store
client/node_modules/
node_modules/
client/dist/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
log/
nssm.exe
run_script.bat
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
